:root {
    --color-black: #181C32;
    --color-white: #FFFFFF;

    --color-blue-dark: #3B3486;

    --color-purple: #7743DB;
    --color-purple-lite: #F8F4FF;

    --color-grey: #B5B5C3;
    --color-grey-lite: #F3F6F9;
}